@font-face {
  font-family: head;
  src: url("../public/Fonts/kholic.woff");
}

@font-face {
  font-family: spc;
  src: url("../public/Fonts/GreatVibes-Regular.woff");
}

@font-face {
  font-family: reg;
  src: url("../public/Fonts/CormorantUpright-Regular.woff");
}


nav {
  z-index: 410;
  box-shadow: 0 0 10px gray;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #210F37;
  font-size: 50px;
}

h1 {
  font-family: Head;
}

.hero {
  position: relative;

  .caption {
    position: absolute;
    top: -50px;
    left: 0;

    h4 {
      font-family: spc;
      color: #BB9E60;
      font-size: 40px;
      font-weight: 400;
      line-height: 45px;
      font-style: normal;
    }

    h2 {
      font-family: Head;
      font-size: 50px;
      color: #210F37;
    }

    p {
      font-family: reg;
      font-weight: 500;
      font-size: 20px;
    }
  }
}

h3 {
  font-family: reg;
  font-size: 30px;
  font-weight: 500;
  
}

.price {
  .card {
    border: 1px solid #BB9E60;
    h3 {
      font-size: 50px;
      font-weight: 600;
      color: #210F37;
    }
    h5 {
      font-family: reg;
    }
  }
} 

span {
  font-family: head;
}

/* h4 {
  font-family: spc;
  color: #210F37;
} */

iframe {
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0 5px gray;
}




















































/* 
.parent {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  img {
    object-fit: contain;
  }

  span {
    color: #000;
  }

  .carousel-item {
    position: relative;

    .caption {
      padding: 0 55px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #00000020;

      div {
        padding: 15px 25PX;
        border-radius: 10px;
        box-shadow: 0 0 10px gray;
        border: 1px solid gray;
      }

      h2 {
        font-family: Heading;
        font-size: 25px;
        font-weight: 600;
        opacity: 1;
      }

      p {
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 500;
        font-size: 16px;
        opacity: 1;
      }
    }
  }
} */